[submodule "submodules/wechat-content-pipeline"]
	path = submodules/wechat-content-pipeline
	url = git@github.com:jhfnetboy/wechat-content-pipeline.git
[submodule "submodules/wechat-article-formatter"]
	path = submodules/wechat-article-formatter
	url = git@github.com:jhfnetboy/wechat-article-formatter.git
[submodule "submodules/wechat-article-formatter-skill"]
	path = submodules/wechat-article-formatter-skill
	url = git@github.com:jhfnetboy/wechat-article-formatter-skill.git
[submodule "submodules/wechat-article-publisher-skill"]
	path = submodules/wechat-article-publisher-skill
	url = git@github.com:jhfnetboy/wechat-article-publisher-skill.git
[submodule "submodules/xiaohongshu-mcp"]
	path = submodules/xiaohongshu-mcp
	url = https://github.com/xpzouying/xiaohongshu-mcp.git
[submodule "pipeline/deploy/xiaohongshu-mcp/src"]
	path = pipeline/deploy/xiaohongshu-mcp/src
	url = git@github.com:jhfnetboy/xiaohongshu-mcp.git
