---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🍄 Hello, Human!</h1>
			<p>
				Welcome to the official <a href="https://mushroom.box/">Mycelium</a> blog.
				This is where we share Research, Tech Experiments, News and Progress Reports
				from our Infra Team: <a href="https://aastar.io">AAStar</a> and <a href="https://github.com/AuraAIHQ">AuraAI</a>.
			</p>
			<p>
				This blog shares information with you. <strong>Do Your Own Research</strong>.
			</p>
			<p>For more details:</p>
			<ul>
				<li><a href="https://kanban.mushroom.cv">Progress</a></li>
				<li><a href="https://github.com/MushroomDAO">GitHub Mushroom</a></li>
				<li><a href="https://github.com/AAStarCommunity">GitHub AAStar</a></li>
				<li><a href="https://github.com/AuraAIHQ">GitHub AuraAI</a></li>
				<li><a href="https://github.com/MushroomDAO/blog">GitHub this blog</a></li>
			</ul>
			<p>
				This blog has two main features: post what you get (like some words),
				auto generate blog and wechat content and publish.
				Our Wechat Article <a href="https://mp.weixin.qq.com/s/ZTAgJIoNUtBtK8Vmph1wAQ">XStack18</a>.
			</p>
			<p>
				Looking for a talk? See U in 26th, June at Chiang Mai.
			</p>
		</main>
		<Footer />
	</body>
</html>
